{% load static %}

<!-- General Tags -->
<meta charset="UTF-8" />
<meta name="viewport" content="width-device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<!-- Google -->
<meta
	name="google-site-verification"
	content="XAyKdTQk2JMM5xbGSzrm3mV7FhhkvFssCCMs8mzqpTg"
/>
<meta name="author" content="Maurício Damásio" />
<meta name="creator" content="Maurício Damásio" />
<meta name="robots" content="index, follow" />
<meta
	name="description"
	content="Sistema completo web de gestão escolar, Académico, Pedagógico e sector financeiro.
(still developing)
Technologies: Python, Django, Mysql, Html, Css and Bootstrap."
/>
<meta
	name="keywords"
	content="gestao, escolar, mauríciodamásio, sites, site, django, python, django, web, sistemasweb, sistemas"
/>

<!-- Bootstrap And CSS -->
<link rel="stylessheet" href={% static 'base/css/bootstrap.css' %}>

<!-- My style CSS -->
<link rel="stylessheet" href={% static 'base/css/styles.css'%}>
